/* style.css */
body {
    background-color: #f5f8fa;
}

.sidebar {
    background-color: #343a40;
    height: 100vh;
}

.sidebar .nav-link {
    padding: 10px 15px;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}

.card {
    border-radius: 10px;
}

.card h3 {
    font-size: 36px;
    font-weight: 700;
}

.card p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.logo-white {
    filter: brightness(0) invert(1);
}
