body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #222;
    /* background: url(bg.jpg);
    background-repeat: repeat; */
    /* background-size: 400% 400%; */
    overflow-x: hidden;
    background: linear-gradient(-45deg, #3498db, #0f4d77);
    background-size: 400% 400%;
    animation: gradientBG 3s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    height: 75vh;
    margin-top: 7vh;
    border-radius: 15px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.wrapper:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

nav {
    font-family: 'Poppins', sans-serif;
    background-color: #3498db;
    height: 80px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
}

.nav-link {
    font-size: 20px !important;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.active {
    background: #1e6fa5;
    color: white !important;
    border-radius: 30px;
}

.img-sign-in {
    width: 100%;
    margin-top: 90px;
    margin-right: 30px;
}

.txtlogin {
    font-size: 50px;
    font-weight: 800 !important;
    font-family: 'Montserrat', sans-serif;
    color: #3498db;
}

.txtlogin2 {
    font-size: 20px;
    font-weight: 800 !important;
    font-family: 'Montserrat', sans-serif;
    color: #3498db;
}

.form-control {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.btnlogin {
    background: #3498db !important;
    border-radius: 15px !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: 800 !important;
}